# Overview

We are going to work on binary classification problem, where we got some information about sample of peoples , and we need to predict whether we should give some one a loan or not depending on his information . we actually have a few sample size (614 rows), so we will go with machine learning techniques to solve our problem .

# Importing Libraries

In [3]:
# Importing some important libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder 
from sklearn.model_selection import StratifiedShuffleSplit
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import precision_score, recall_score, f1_score,log_loss, accuracy_score
from sklearn.model_selection import StratifiedKFold
from scipy.stats import norm

import warnings
warnings.filterwarnings('ignore')

# Simple Look on the Data

In [5]:
#Reading the Dataset
df=pd.read_csv('D:/Data Science using Python/Loan Prediction Model/train_u6lujuX_CVtuZ9i.csv')
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [ ]:
# Finding out shape of the dataset

In [ ]:
# We have missing data , we will handle them as we go

In [ ]:
# Describe the numerical data

In [ ]:
# we will change the type of Credit_History to object becaues we can see that it is 1 or 0

In [ ]:
# describe categorical data ("object")

In [ ]:
# we will drop ID because it's not important for our model and it will just mislead the model

In [ ]:
# let's look at the target percentage

# Look Deeper into the Data

In [ ]:
# Credit_History

In [ ]:
# Gender

In [ ]:
# Married

In [ ]:
# Dependents

In [ ]:
# Education

In [ ]:
# Self_Employed

In [ ]:
# Property_Area

In [ ]:
# ApplicantIncome

In [ ]:
# the numerical data

# Simple Process for the Data

In [ ]:
# We will separate the numerical columns from the categorical

In [ ]:
# cat_data
# If you want to fill every column with its own most frequent value you can use

In [ ]:
# num_data
# fill every missing value with their previous value in the same column

In [ ]:
# transform the target column

In [ ]:
# transform other columns

# Train the Data

In [ ]:
# we will use StratifiedShuffleSplit to split the data Taking into consideration that we will get the same ratio on the target column

In [ ]:
# we will use 4 different models for training

# Build Functions

We are going to build 3 functions :

1) loss : to evaluate our models

    precision
    recall
    f1
    log_loss
    accuracy_score

2) train_eval_train : to evaluate our models in the same data that we train it on .

3) train_eval_cross : to evaluate our models using different data that we train the model on .

    StratifiedKFold

In [ ]:
# loss

In [ ]:
# train_eval_train

In [ ]:
# train_eval_cross

In [ ]:
# Some explanation of the above function

# Improving our Model

# Feature Engineering

In [ ]:
#Finding out correlation among different features

In [ ]:
#Creating new columns which will help us to reduce some features

In [ ]:
# First lets take a look at the value counts of every label

In [ ]:
# We will work on the features that have varied values

# Outliers

There is different techniques to handle outliers, here we are going to use IQR

In [ ]:
# We will use boxplot to detect outliers

In [ ]:
# We have to first fix a Threshold Limit

# Feature Selection

In [ ]:
# Remove those features which have bad correlation

# Evaluate the Models on Test_data

In [ ]:
# Here we will just repeat what we did in training data